@import url("normalize.css");

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap" rel="stylesheet');

/* -------------------- GLOBAL DEFAULTS */
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    margin: 35px;
    font-size: 15px;
    font-family: 'Albert sans', sans-serif;
    
    
    

}

@media screen and (min-width: 500px) {

    body {
       
    } 
}

main {
    margin-left: 180px;
    margin-top: 35px;
    padding-top: 0;
    padding-right: 0;
    min-width: 180px;  
    

}
/* this is for bigger than mobile */
@media screen and (min-width: 500px) {

    main {
        margin-left: 250px;
        margin-top: 35px;
        padding-top: 0;
        padding-right: 0;
        min-width: 275px; 
        
    } 
}

img,
iframe,
video {
    max-width: 100%;
}


a:hover {
    text-decoration: none;

}





.box1 {

    width: 3cm;
    height: 3cm;
    right: 0%;
    left: 720px;
    top: -60px;

}





/* -------------------- HEADINGS AND TYPE */


h1mainheading {
    color: rgb(5, 0, 0);
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 42px;
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 25px;
    font-style: normal;
    font-weight: 400;
}

/* this is for bigger than mobile */
@media screen and (min-width: 500px) {

    h1mainheading {
    color: rgb(5, 0, 0);
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 52px;
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 35px;
    font-style: normal;
    font-weight: 400;
    } 
}


h2mainheading {
    color: rgb(5, 0, 0);
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 25px;
    font-style: normal;
    font-weight: 500;
}

/* this is for bigger than mobile */
@media screen and (min-width: 500px) {

    h2mainheading {
        color: rgb(5, 0, 0);
        text-align: left;
        font-family: 'Manrope', sans-serif;
        font-size: 35px;
        letter-spacing: 0;
        word-spacing: 0;
        line-height: 35px;
        font-style: normal;
        font-weight: 500;
    } 
}


h1 {
    color: rgb(255, 255, 255);
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    list-style: none;
    line-height: 25px;
    letter-spacing: 2px;
}


p {
 color: rgb(255, 255, 255);
 font-family: 'Manrope', sans-serif;
 font-size: 20px;
 font-weight: 400;
 text-align: right;
}

a {
    color: rgb(0, 0, 0);
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    list-style: none;
    letter-spacing: 2px;
}





/* -------------------- LAYOUTS */



.layout-wide {
    background-color: rgb(0, 0, 0);
    max-width: 1000px;
    padding: 5px;

    position: relative;
}

.content-item {
    max-width: fit-content;
    height: fit-content;
    margin-left: 0%;
    margin-right: 80%;
    position: relative;
}

.homecontentgrid {
    columns: 2;
    column-gap: 5px;
}

/* this is for bigger than mobile */
@media screen and (min-width: 500px) {

    .homecontentgrid {
        columns: 3;
    column-gap: 5px;
       
    }

}

.gridproductphoto {
    columns: 2;
    column-gap: 5px;
}

.text-border {
    margin: 35px;
}


.gallery-filters{
    text-align:left;
    display: grid;
    gap: 15px;
    margin-bottom: 35px;
    line-height: 30px;
    
}





/* -------------------- HEADER */

ul {
    list-style-type: none;
    margin-top: 30px;

    padding: 0px;
}

.header-collum {
    background: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0;
    padding: 36px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #000;
    font-size: 18px;
    line-height: 25px;
    text-rendering: optimizeLegibility;
    text-align: left;
    align-items: center;
    width: 180px;
    z-index: 999;
    list-style: none;

}


/* this is for bigger than mobile */
@media screen and (min-width: 500px) {

    .header-collum {
        width: 250px;
        padding: 35px;
       
    }

}


.header-image {
    /* max-width: 100px;
    margin-left: 425px;
    margin-top: 30px; */
}



.logo-box {
  
    position: fixed;
    max-width: 100px;
    right: 20px;
    top: 20px;
  
  
}






/* -------------------- NAVIGATION */


/* -------------------- CONTENT */




/* -------------------- FOOTER */

footer { 
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100%;
    height: 2.5rem;    
}

footer p {
    font-size: 12px;
    text-align: right;
}
/* -------------------- MODULES */