@import url("normalize.css");

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;500&display=swap" rel="stylesheet');

/* -------------------- GLOBAL DEFAULTS */
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 0, 0);
    margin: 35px;
    font-size: 15px;
    font-family: 'Albert sans', sans-serif;
    color: yellow;

}

main {
    margin-left: 250px;
    margin-top: 35px;
    padding-top: 0;
    padding-right: 0;
    min-width: 275px;

}

img,
iframe,
video {
    max-width: 100%;
}


a:hover {
    text-decoration: none;

}





.box1 {

    width: 3cm;
    height: 3cm;
    right: 0%;
    left: 720px;
    top: -60px;

}





/* -------------------- HEADINGS AND TYPE */


h1mainheading {
    color: rgb(5, 0, 0);
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 35px;
    letter-spacing: 0;
    word-spacing: 0;
    line-height: 35px;
    font-style: normal;
    font-weight: 400;
}


h1 {
    color: rgb(0, 0, 0);
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 400;
}


p {
    color: red;
}

a {
    color: rgb(0, 0, 0);
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    list-style: none;
    line-height: 25px;
    letter-spacing: 2px;
}



/* -------------------- LAYOUTS */



.layout-wide {
    background-color: rgb(250, 250, 250);
    max-width: 1000px;
    padding: 5px;

    position: relative;
}

.content-item {
    max-width: fit-content;
    height: fit-content;
    margin-left: 0%;
    margin-right: 80%;
    position: relative;
}

.contentgrid {
    columns: 3;
    column-gap: 5px;
}

.text-border {
    margin: 35px;
}


/* -------------------- HEADER */

ul {
    list-style-type: none;
    margin-top: 30px;

    padding: 0px;
}

.header-collum {
    background: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0;
    padding: 35px 35px 35px 35px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #000;
    font-size: 18px;
    line-height: 1;
    text-rendering: optimizeLegibility;
    text-align: left;
    align-items: center;
    width: 250px;
    z-index: 999;
    list-style: none;

}


.header-image {
    max-width: 50px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}



.logo-box {
    margin-top: 35px;
    margin-bottom: 70px;
    justify-content: center;
}




@media screen and (min-width:800px) {
    header {
        text-align: left;
    }




    .header-text {
        text-align: left;

    }

}

/* -------------------- NAVIGATION */


/* -------------------- CONTENT */




/* -------------------- FOOTER */

/* -------------------- MODULES */