@import url("normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;400;500&display=swap');

  
/* -------------------- GLOBAL DEFAULTS */
*{
    box-sizing: border-box;
}

    body{
    background-color: rgb(255, 0, 0);
    }


    img{
    max-width: 100%;
    max-height: 100;
    }

   .box1{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    position:relative; left: 250px;px; top:-15px
    }

   p.solid{border-top-style: solid;
   border-radius: fill;
padding:25px;}

/* -------------------- HEADINGS AND TYPE */


h1mainheading{
    background-color: rgb(255, 255, 255);
    color: #f00;}
h1mainheading{
    font-family: 'Albert sans' , sans-serif;
	font-size: 50px;
	letter-spacing: 0;
	word-spacing: 0;
	line-height: 1.0;
	font-style: normal;
	font-weight: 500;}

    

h2{
    color: rgb(0, 0, 0);}
h2,h3{
    font-family: 'Albert Sans', sans-serif;
    font-weight: 400;}


/* -------------------- LAYOUTS */



.layout-wide {
    background-color: rgb(250, 250, 250);

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
}

.content-item {

    max-width: 1000px;
    margin-left: 0%;
    margin-right: 80%;
    margin-top: 10%;
    padding: 60%,20%,0;}

/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */
.Logo{
    display: grid;}
    
@media screen and (min-width: 500px) {
    .Logo {background-color: rgb(196, 19, 172);
        grid-template-columns: 20% 80%;}
}
    
